<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumeet's Page</title>

    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9707799607857146"
     crossorigin="anonymous"></script>

    
</head>

<body>
     
    {{ partial "navbar.html" . }}

      
    <p>I'm working as a Software engineer. Primarily I work on Python programming language with backend frameworks, but I also love Golang. I like GNU/Linux, FOSS, compilers. When I'm not using computer, I love to watch anime, explore new philosophies.</p>

    <br>
    

    
</body>

</html>
